button{
    border-radius: 7px;
    background-color: rgb(33, 6, 95);
    color: white;
    margin-left: 25px;
    width: 90px;
}
.btn{
   width: 90px;
}
#heading{
    color: rgb(33, 6, 95);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.delete{
    padding-top: 20px;
}
.list{
    margin-left: 525px;
}

